# Python
venv/
__pycache__/
cache/

# Terraform
.terraform*
*tfstate*

# Ansible
ansible/playbooks/ansible_artifacts/

# Text editors
*.swp
*.vscode
*.idea

# Secrets
*.pem
*.env

# App
app/backend/mariadb
*.zip

# Mac
.DS_Store
